@import "var";
@import "mixins";
@import "font-mixins";
@import "media-querry";
@import "elements";
@import "animation";

/****************************************
Homepage
****************************************/
// *,*:before,*:after{
// 	padding: 0px;
// 	margin: 0px;
// 	box-sizing: border-box;
// }
body{
	font-family: 'Poppins', sans-serif;
	line-height: 1;
    color: #6a6a6a;
    font-size: 15px;
    background-color: #ccc;
    background: url(../images/layer.jpg) 0 0 repeat;
    background-attachment: fixed;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
  }
  :-ms-input-placeholder { /* IE 10+ */
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
  }
  :-moz-placeholder { /* Firefox 18- */
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
  }
h3,h4{
	text-transform: uppercase;
}

header, section,footer{
	width: 100%;
}
.container{
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}
.form_check_wrap{
	margin-top: 20px;
	width: 100%;
	float: left;
	h3{
		font-size: 14px;
		color: #848484;
		margin-bottom: 16px;
	}
	&.mt-40{
		margin-top: 40px;
	}
}
.chosen-container-multi .chosen-choices{
	border: none !important;
	height: 42px !important;
	padding: 9px 10px !important;
	background-image: url(../images/select_arrow.png) !important;
	background-repeat: no-repeat;
	background-position: 97% center;
	background-size: 6px;
	box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
	border-radius: 4px;
}
.marg_btm{
	margin-bottom: 20px;
}
.form_row{
	width: 100%;
	float: left;
	input[type="text"]{
		width: 100%;
		height: 42px;
		box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
		border: none;
		border-radius: 4px;
		padding: 0px 10px;
	}
	input[type="password"]{
		width: 100%;
		height: 42px;
		box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
		border: none;
		border-radius: 4px;
		padding: 0px 10px;
	}
	input[type="email"]{
		width: 100%;
		height: 42px;
		box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
		border: none;
		border-radius: 4px;
		padding: 0px 10px;
	}
	input[type="number"]{
		width: 100%;
		height: 42px;
		box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
		border: none;
		border-radius: 4px;
		padding: 0px 10px;
	}
	textarea{
		width: 100%;
		height: 42px;
		box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
		border: none;
		border-radius: 4px;
		padding: 0px 10px;
		min-height: 140px;
		padding: 10px;
	}
	select{
		width: 100%;
		height: 42px;
		box-shadow: 0px 4px 10px 3px rgba(213,213,213,0.81);
		border: none;
		border-radius: 4px;
		padding: 0px 10px;
		color: grey;
		font-family: 'Poppins', sans-serif;
		/* for Firefox */
		-moz-appearance: none;
		/* for Chrome */
		-webkit-appearance: none;
		background-image: url(../images/select_arrow.png);
		background-repeat: no-repeat;
		background-position: 97% center;
		background-size: 6px;
		option:not(:checked) {
			color: black;
		} 
		
	}
	label{
		color: #22264c;
		font-size: 16px;
		margin-bottom: 14px;
		width: 100%;
		float: left;
	}
	&+ .form_row{
		margin-top: 20px;
	}
	&.checkwrap{
		label{
			input[type="checkbox"]{
				display: none;
				&:checked{
					&+ span{
						background-image: url(../images/check_box_tick.png);
					}
				}
				&+ span{
					padding-left: 30px;
					background-image: url(../images/check_box.png);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 20px;
					cursor: pointer;
				}
			}
			input[type="radio"]{
				display: none;
				&:checked{
					&+ span{
						background-image: url(../images/check_box_tick.png);
					}
				}
				&+ span{
					padding-left: 30px;
					background-image: url(../images/check_box.png);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 20px;
					cursor: pointer;
				}
			}
			
		}
		&.professional_check{
			padding-left: 60px;
		}
	}
	&.submit_wrap{
		text-align: center;
		.submit_btnWrap{
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
			a{
			    background-color: #06c7f4;
				height: 50px;
				text-align: center;
				line-height: 50px;
				padding: 13px 70px;
				border-radius: 4px;
				color: #fff;
				margin-right: 10px;
			}
			input[type="submit"]{
				width: 365px;
				height: 50px;
				background-color: $primary-color;
				color: $white-color;
				@include font-16;
				font-weight: 500;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}
			&.company_btn{
				margin-bottom: 0px;
				input{
					width: 200px;
				}
			}
		}
		a{
			color: $primary-color;
			@include font-16;
			font-weight: 500;
		}
	}
	&.two_field{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.form_item{
			width: 48%;
	
		}
	}
	&.three_field{
		display: flex;
		justify-content: space-between;
		.form_item{
			width: 31.5%;
	
		}
	}
	&.four_field{
		display: flex;
		justify-content: space-between;
		.form_item{
			width: 24%;
			label{
				span{
					@include font-15;
				}
			}
	
		}
	}
	&.build_prof_wrap{
		align-items: center;
		.form_item{
			width: 49%;
			label{
				margin-bottom: 0px;
				span{
					font-size: 12px;
				}
			}
		}
		&.more_thenTwo{
			margin-bottom: 20px;
			.form_item{
				margin-bottom: 10px;
				label{
					span{
						color: #828282;
					}
				}
			}
		}
	}
	&.character_plot{
		h2{
			@include font-16;
			color: #22264c;
			margin-bottom: 14px;
		}
		ul{
			list-style: none;
			li{
				padding-left: 20px;
				background-image: url(../images/tick_green.png);
				background-position: left center;
				background-repeat: no-repeat;
				background-size: 10px;
				line-height: 20px;
				@include font-12;
				color: #22264c;
			}
		}
	}
	&.hearToField{
		ul{
			list-style: none;
			li{
				width: 100%;
				float: left;
				&+ li{
					margin-top: 25px;
				}
				label{
					margin-bottom: 0px;
					input[type="checkbox"]{
						display: none;
						&:checked{
							&+ span{
								background-color: $primary-color;
								color: $white-color;
							}
						}
						&+ span{
							padding: 20px;
							background-color: #fff;
							width: 100%;
							float: left;
							border-radius: 10px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
.main-block{
	width: 100%;
	.logIn_block{
		width: 100%;
		.login_wrap{
			width: 100%;
			display: flex;
			justify-content: center;
			.form_wrap{
				width: 410px;
				max-width: 100%;
				margin-top: 60px;
				.top_block{
					width: 100%;
					text-align: center;
					h2{
						@include font-26;
						font-weight: 600;
						color: $text-color;
						margin-top: 38px;
						&.job_text{
							font-size: 20px;
						}
					}
					p{
						@include font-16;
						margin-top: 18px;
					}
				}
				.form_block{
					width: 100%;
					margin-top: 44px;
				}
				&.company_reg_wrap{
					width: 540px;
					
					.form_block{
						float: left;
						background-color: #ececec;
						padding: 38px;
						border-radius: 10px;
					}
				}
			}
		}
	}
}


	